.row {
    margin-top: 5%;
}

h1 {
    color: #BF3B26 !important;
}

h3 {
    color: #BF3B26 !important;
}

#add-train-btn {
    background-color: #A53321;
    border: none;
}

#header {
    margin-top: 20px;
    margin-left: 5px;
}

.card {
    border: none !important;
    background-color: #CC8D83 !important;
    border-color: #3F140D;
}

#schedule {
    margin-right: 15px;
}